.contHome {
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url(/src/images/home.jpg);
  background-position: center;
}

.cardSearch {
  width: 80%;

  padding: 20px;
}

.inputGuests {
  width: 200px;
}

.btnSearch {
  width: 200px;
}
